node_modules
.vercel
dist
extension/dist*
esm
.DS_Store
*.tsbuildinfo
.ultra.cache.json
coverage
*.zip
*.log
tmp
playwriter/src/assets/*.png
playwriter/src/assets/framer.html
*-snapshot.txt
claude-extension

# opensrc - source code for packages
opensrc/

# aria snapshots
playwriter/src/aria-snapshots/
playwriter/src/snapshots/
playwriter/src/__snapshots__/ax-debug/
gmail-oauth/
.ck
